## APP CONFIGURATION STARTS HERE ##
NODE_ENV=
APP_NAME=
PORT=
API_PREFIX=
CORS_ORIGINS=
FRONTEND_DOMAIN=
ENABLE_HTML_EMAIL_PREVIEW=

## APP CONFIGURATION ENDS HERE ##


## SMTP CONFIGURATION STARTS HERE ##
SMTP_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

## SMTP CONFIGURATION ENDS HERE ##


## AWS S3 VARIABLES STARTS HERE ##
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_DEFAULT_S3_BUCKET=
AWS_S3_REGION=
AWS_Endpoint=

## AWS S3 VARIABLES ENDS HERE ##


## AUTHENTICATION VARIABLES STARTS HERE ##
SALT_OR_ROUNDS=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
REFRESH_REMEMBER_ME_EXPIRY=

## AUTHENTICATION VARIABLES ENDS HERE ##

## DATABASE CONFIGURATION SETTINGS
DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_LOG=
DATABASE_SYNCHRONIZE=
DATABASE_MAX_CONNECTIONS=
DATABASE_SSL_ENABLED=

## DATABASE CONFIGURATION SETTINGS ENDS
